*{
    margin: 0;
    padding: 0;
}
.bg1{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bg2{
    background-image: url('../assets/background2.jpg');
}
.bg01{
    background-image: url('../assets/walllet.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.bg02{
    background-image: url('../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.bg03{
    background-image: url('../assets/nosign.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.bg04{
    background-image: url('../assets/globe.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.bg05{
    background-image: url('../assets/check.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-900{
    font-weight: 900;
}
.font-size-12{
    font-size: 12px;
}
.font-size-13{
    font-size: 13px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-36{
    font-size: 36px;
}
.font-size-40{
    font-size: 40px;
}
.bg-color-353535{
    background-color: #353535;
}
.bg-color-242424{
    background-color: #242424;
}
.bg-color-1c1c1c{
    background-color: #1c1c1c;
}
.color-8d8d8d{
    color: #8d8d8d;
}
.color-ffffff{
    color: #ffffff;
}
.color-cccccc{
    color: #cccccc;
}
.color-bebebe{
    color: #bebebe;
}
.color-e2e2e2{
    color: #e2e2e2;
}
.color-f3ba40{
    color: #f3ba40;
}
.line-height-1{
    line-height: 1.8;
}
.cursor-pointer{
    cursor: pointer;
}
.div-hover:hover{
    padding-left: 10px;
    transition: 0.3s;
}
.button1{
    color: #353535;
    border-radius: 10px;
    line-height: 40px;
    padding: 10px 35px;
    font-weight: 700;
    background-color: #f3ba40;
    outline: none;
    border: none;
}
.button1:hover{
    background-color: #ffd83c;
}
.button2{
    font-size: 13px;
    border-radius: 10px;
    background-color: #f2f2f200;
    color: #ffffff;
    border: 2px solid transparent;
    border: 2px solid #8a8a8b;
    box-shadow: 0 6px 40px #00000040;
    padding: 16px 36px;
    text-align: center;
    font-weight: 700;
}
.button2:hover{
    color: #f3ba40;
    border: 2px solid #f3ba40;
}
.border-bottom-1{
    border-bottom: 1px solid #bebebe;
}
.border-bottom-2{
    border-bottom: 1px solid #353535;
}
#pdf{
    font-size: 20px;
    margin-right: 5px;
}
.videoimg{
    width: 615px;
}
.shuffle:hover{
    color: #e38f07!important;
    cursor: pointer;
}
#facebook,
#twitter,
#instagram{
    color: #bebebe;
    font-size: 20px;
    cursor: pointer;
}
#map,
#phone,
#mail,
#clock{
    color: #bebebe;
    font-size: 20px;
    margin-right: 10px;
}
.footer-font:hover{
    color: #f3ba40!important;
    cursor: pointer;
}
.input-type{
    border: none;
    outline: none;
    padding: 5px 30px;
    width: 300px;
    border: 1px solid #e3e3e3;
    color: #8d8d8d;
    margin-right: 15px;
    display: block;
    border-radius: 10px;
    line-height: 48px;
}
.font1{
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}
.font2{
    font-weight: 400;
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 25px;
}
.font3{
    font-weight: 700;
    font-size: 16px;
    color: #cccccc;
}
.border-circle{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #8d8d8d;
    text-align: center;
    padding: 15px;
    margin: 8px;
}
.border-circle:hover{
    cursor: pointer;
    background-color: #f3ba40;
}
.icons-set1{
    font-size: 20px;
    color: #cccccc;
    margin-right: 10px;
}
.icons-set1:hover{
    color: #f3ba40;
    cursor: pointer;
}
.round{
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #f4f4f4;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 700;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comments{
    position: absolute;
    top: -3px;
    right: 25px;
    padding: 4px 7px;
    line-height: 1;
    background-color: #f3ba40;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 12%);
    cursor: default;
    z-index: 10;
}
.bordertop-1{
    border-top: 1px solid #505050;
}
.icon-set-2{
    font-size: 16px;
    color: #cccccc;
    margin-right: 5px;
}
.links1:hover{
    color: #ffffff;
    cursor: pointer;
}
.market-hover:hover{
    color: #f3ba40;
    cursor: pointer;
}
.icon-set3{
    font-size: 20px;
    font-weight: 400;
    color: #f3ba40;
}
.icon-set4{
    font-size: 24px;
    font-weight: 400;
    color: #cccccc;
}
.border-top-bottom{
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
}
.border-bottom1{
    border-bottom: 1px solid #353535;
}
.icon-set5{
    color: #ffffff;
    font-size: 20px;
}
#visa,
#master,
#bitcoin,
#paypal{
    color: #cccccc;
    font-size: 25px;
    cursor: pointer;
}
#visa:hover,
#master:hover,
#bitcoin:hover,
#paypal:hover{
    color: #bebebe;
}
.border-right-1{
    border-right: 1px solid #353535;
}
.icon-set6{
    font-size: 50px;
    color: #f3ba40;
}
.font4{
    line-height: 58px;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}
#check1{
    font-size: 30px;
    color: #f3ba40;
}
#clock1{
    font-size: 30px;
    color: #707070;
}
.card-1{
    position: relative;
    z-index: 2;
}
.header:hover{
    color: #f5f5f5;
}
@media screen and (max-width: 768px) and (min-width: 200px){
    .media-font{
        font-size: 25px;
        line-height: 45px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .media-font{
        font-size: 30px;
        line-height: 50px;
    }
}